body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

body {
    text-decoration: flowers
   }
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
}
.text {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
    font-size: 3rem;
    color: #9505c5;
    /* font-family: Arial, sans-serif; */
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.flowers {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.flower-fall-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/* 
.flower {
    position: absolute;
    width: 30px; Размер цветка
    height: 20px;
    background-image: url('flower1.png'); Путь к изображению цветка
    background-image: url('flower2.png');
    background-image: url('flower3.png');
    background-image: url('flower4.png');
    background-size: contain;
    animation: flower-fall 5s linear infinite; Анимация падения
} */

.lol {
            width: 200px;
            height: auto; 
            position: absolute; 
            /* padding-left: 330px; */
            bottom: 0; 
}
.flower {
    position: absolute;
    width: 30px; /* Размер цветка */
    height: 23.5px;
    background-size: contain;
    animation: flower-fall 5s linear infinite; /* Анимация падения */
}

.flower.flower1 {
    background-image: url('images/flower1.png'); /* Путь к изображению цветка */
}

.flower.flower2 {
    background-image: url('images/flower2.png');
}

.flower.flower3 {
    background-image: url('images/flower3.png');
}

.flower.flower4 {
    background-image: url('images/flower4.png');
}


@keyframes flower-fall {
    0% { transform: translateY(-100vh); }
    100% { transform: translateY(100vh); }
}

@keyframes bloom {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width: 768px) {
    .text {
        font-size: 2rem;
    }
}




  